*{
  margin: 0;
  padding: 0;
  text-align: justify;
}

p{
  font-size: 110%;
}

body
{
  width: 100%;
  margin-top: 70px;
  background: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #000;
  font-family: 'Roboto',sans-serif;
}

/* parte de la navegacion  -- index */

.container-nav
{
  height: 20%;
  padding-bottom: 0;
  background: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px); 
  overflow: hidden;
  margin-bottom: 0;
  margin: 0;
}    

  .items-nav
      {
          margin-top: 5px;
          padding-left: 0;
          padding-right:0 ;
          width: 100%;
          height: 100%;
          overflow: hidden;
      }

      .item
          {
              font-size: 20px;
              padding-top:30px ;
              padding-bottom:0;
              margin: 0;
              float: right;
              height: 70%;
              width: 208.5px;
              border-right:2px solid rgb(173, 173, 173) ; 
              color: rgb(87, 85, 85);
              text-decoration: none;
              padding-right: 0;
              padding-left:4.38%;
              -webkit-transition:all 500ms ease;
              -o-transition: all 500ms ease;
              transition: all 500ms ease;
          }

          #i1
          {
              border-bottom:7px solid red ;
          }

          #i2
          {
              border-bottom:7px solid yellow;
          }

          #i3
          {
              border-bottom:7px solid rgb(17, 255, 0);
          }

          #i4
          {
              border-bottom:7px solid rgb(0, 162, 255);
          }
          
          #i5
          {
              border-bottom:7px solid rgb(25, 0, 255);
              border-right: none;
          }

          .item:hover
          {
              color: rgb(0, 0, 0);
              
          }

          #i1:hover
          {
              background: rgb(255, 0, 0);
          }

          #i2:hover
          {
              background: rgb(255, 255, 0);
          }

          #i3:hover
          {
              background: rgb(31, 221, 14);
          }

          #i4:hover
          {
              background: rgb(0, 162, 255);
          }

          #i5:hover
          {
              background: rgb(25, 0, 255);
          }

          header
          {
              margin-bottom: 150px;
          }

/* Redes sociales --index */
.social
{
  float: left;
  left: 0;
  margin: 0px;
  width: 11%;
  height: 500px;
  border-right: 2px solid rgb(100, 100, 100);
  background: white;
}

  .social ul li a
  {
      display: block;
      width: 85.5%;
      height: 50px;
      font-size: 30px;
      color: rgb(0, 0, 0);
      padding: 20px 15px;
      text-decoration: none;
  }
  
  .social ul li a img
  {
      width: 70px;
  }

/* Logo -- index */

.logo
{
  display: inline-block;
  margin: 0;
  padding: 0 10px 0 10px;
  color: rgb(0, 0, 0);
  width: 60%;
  height: 50% ;
  z-index: 1;
}

  .nav-title img
  {
      display: block;
      width: 115%;
      height: 80%;
  }
/* Parte derecha Novedades y ofertas --index */
.social2
{
  float: right;
  left: 0;
  margin: 0px;
  width: 12%;
  height: 500px;
  padding-left: 5%;
  border-left: 2px solid rgb(100, 100, 100);
  background: white;
}


  ul
  {
      list-style: none;
  }

  .social2 ul li a
  {
      display: block;
      width: 85.%;
      height: 50px;
      font-size: 30px;
      color: rgb(0, 0, 0);
      padding: 80px 15px;
      text-decoration: none;
  }

  .social2 ul li a img
  {
      width: 100px;
  }

/* footer */
.footer
{
  float: inline-end;
  width: 100%;
  height: 10%;
}

.footer .ultimo
{
  padding-left: 30%;
  font-size: 24px;
  }